.label, .remove-border-outline {
  display: block;
  text-align: left;
}

.label input, .remove-border-outline input {
  border-radius: var(--b-radius-sm);
  padding: .5rem;
  width: 95%;
  margin-top: .5rem;
  font-family: var(--font-open-sans);
  letter-spacing: .1rem;
}

.remove-border-outline input {
  padding: .8rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

.remove-border-outline input:active, .remove-border-outline input:focus {
  border-color: transparent;
  border-bottom: 1px solid #c9441c;
}

@media screen and (max-width: 768px) {
  .label input {
    padding: .5rem;
  }
}