.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e0e0e0;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: var(--font-open-sans);
}

.md {
  width: 48px;
  height: 48px;
}

.sm {
  width: 32px;
  height: 32px;
}