.full-name-child {
  position: absolute;
  top: 36px;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 463px;
  height: 71px;
}
.full-name1 {
  position: absolute;
  top: 0;
  left: 8px;
}
.full-name,
.john-doe {
  position: absolute;
  top: 61px;
  left: 22px;
  color: var(--color-lightgray);
}
.full-name {
  top: 287.21px;
  left: 86px;
  width: 463px;
  height: 107px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
