.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../assets/bg_signup.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 25%;
  z-index: 1;
}

.login-form div {
  width: 100%;
}

.login-form div > input {
  border-radius: 8px;
  padding: .5rem;
  width: 95%;
}

.login-form div > label {
  display: block;
  text-align: left;
}

.submit_btn {
  width: 100%;
  padding: .6rem;
  border-radius: 8px;
  background-color: #d24d4d;
  color: var(--color-white);
  margin-top: 1rem;
  border: none;
}

.overlay-text {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1440px) {
  .form_bg {
    width: 30%;
  }

  .login-form input {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .login-section h1 {
    font-size: 1.7rem;
    text-align: center;
    width: 80%;
  }

  .login-form {
    width: 40%;
  }

  .login-form input {
    border-radius: 8px;
    padding: .5rem;
  }
}

@media screen and (max-width: 426px) {
  .login-form {
    width: 60%;
  }
}