nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.11);
  position: fixed;
  width: 100%;
  padding-left: 1.5rem;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-right: 2rem;
}

nav ul li {
  list-style: none;
}

nav > ul > li > img {
  position: relative;
  top: 3px;
}

.btn-wrapper {
  padding: 0;
  background-color: transparent;
}

.btn {
  border: none;
  border-radius: var(--br-37xl-5);
  background-color: var(--color-firebrick-100);
  padding: .5rem 1rem .5rem 1rem;
}

.btn-text {
  font-weight: 600;
  font-size: var(--font-size-med);
  font-family: var(--font-open-sans);
  color: var(--color-white);
}

@media screen and (max-width: 500px) {
  nav ul {
    gap: 1rem;
  }
  
  .btn {
    padding: .5rem;
  }
  .btn-text {
      font-size: var(--font-size-med);
  }
}

@media screen and (max-width: 300px) {
  .btn-text {
    font-size: var(--font-size-sm);
  }
  .btn {
    padding: .1rem;
  }
}