.login,
.pinecho {
  position: relative;
  line-height: 150%;
  text-align: left;
}
.pinecho {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 32px;
  font-family: var(--font-salsa);
  color: #aa0101;
  display: flex;
  align-items: center;
  width: 147px;
  height: 41px;
  flex-shrink: 0;
}
.login {
  font-size: var(--font-size-med);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-white);
}
.nav-link-1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-37xl-5);
  background-color: var(--color-firebrick-100);
  width: 89px;
  height: 55px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.nav-link-1-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 89px;
  height: 55px;
}
.nav-link-2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-37xl-5);
  background-color: var(--color-firebrick-100);
  width: 105px;
  height: 55px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.nav-link-2-wrapper,
.user-cicrle-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 105px;
  height: 55px;
}
.user-cicrle-wrapper {
  width: 64px;
  height: 64px;
}
.nav,
.nav-items {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.nav-items {
  width: 352px;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.nav {
  background-color: #f7f7f7;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.11);
  padding: 47px var(--padding-15xl);
  align-items: flex-end;
  justify-content: flex-end;
  gap: 839px;
}
.find-your-pin {
  position: absolute;
  top: 0;
  left: 434px;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 653px;
  height: 281.92px;
}
.items-child,
.items-child1,
.items-inner,
.items-item,
.rectangle-icon {
  position: absolute;
  top: 140.96px;
  left: 885px;
  border-radius: var(--br-3xs);
  width: 220px;
  height: 463.15px;
  object-fit: cover;
}
.items-child1,
.items-inner,
.items-item,
.rectangle-icon {
  left: 331px;
}
.items-child1,
.items-inner,
.rectangle-icon {
  top: 163.78px;
  left: 610px;
  height: 441.67px;
}
.items-child1,
.rectangle-icon {
  top: 0;
  left: 1172px;
  width: 264px;
  height: 604.11px;
}
.items-child1 {
  top: 1.34px;
  left: 0;
}
.header-section-child,
.items {
  position: absolute;
  top: 276.55px;
  left: 0;
  width: 1px;
  height: 1px;
}
.header-section-child {
  top: 538.33px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
  backdrop-filter: blur(4px);
  width: 1440px;
  height: 343.67px;
  mix-blend-mode: normal;
}
.arrow-pointer-child {
  position: relative;
  border-radius: 50%;
  background-color: #c56262;
  width: 48px;
  height: 48px;
  z-index: 0;
}
.arrow-pointer-item {
  position: absolute;
  margin: 0 !important;
  top: 19.95px;
  left: 12.95px;
  width: 22.09px;
  height: 12.55px;
  z-index: 1;
}
.arrow-pointer {
  position: absolute;
  top: 756.84px;
  left: 696px;
  height: 56.67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-section {
  position: relative;
  background-color: #fffbfb;
  width: 1440px;
  height: 880.66px;
  font-size: var(--font-size-77xl);
}
.search-section-child {
  position: absolute;
  top: 550px;
  left: 515px;
  border-radius: var(--br-mini);
  width: 214px;
  height: 311px;
  object-fit: cover;
}
.search-section-child1,
.search-section-inner,
.search-section-item {
  position: absolute;
  top: 677px;
  left: 15px;
  border-radius: var(--br-mini);
  width: 367px;
  height: 226px;
  object-fit: cover;
}
.search-section-child1,
.search-section-inner {
  top: 25px;
  left: 472px;
  width: 248px;
  height: 248px;
}
.search-section-child1 {
  top: 68px;
  left: 89px;
  width: 462px;
  height: 666px;
}
.search-for-a {
  position: relative;
  line-height: 150%;
  width: 508px;
  height: 123px;
  flex-shrink: 0;
}
.description,
.find-an-item,
.search-for-a {
  display: flex;
  align-items: center;
}
.find-an-item {
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 150%;
  font-weight: 600;
  color: #3b4a4a;
  width: 428px;
  height: 157px;
  flex-shrink: 0;
}
.description {
  position: absolute;
  top: 340px;
  left: 898px;
  flex-direction: column;
  justify-content: center;
}
.chocolate,
.search-icon {
  position: relative;
  width: 48px;
  height: 48px;
}
.chocolate {
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 244px;
  height: 76px;
  flex-shrink: 0;
}
.search-bar,
.search-section {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.search-bar {
  position: absolute;
  top: 401px;
  left: 113px;
  border-radius: 80.5px;
  background-color: var(--color-white);
  width: 415px;
  height: 102px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 42px 46px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.search-section {
  position: relative;
  background-color: var(--color-darkgray);
  width: 1440px;
  height: 931px;
  color: #424d46;
}
.save-section-child {
  position: absolute;
  top: 597px;
  left: 776px;
  border-radius: var(--br-22xl);
  width: 256px;
  height: 224px;
  object-fit: cover;
}
.save-section-child1,
.save-section-child2,
.save-section-inner,
.save-section-item {
  position: absolute;
  top: 350px;
  left: 839px;
  border-radius: var(--br-22xl);
  width: 239px;
  height: 206px;
  object-fit: cover;
}
.save-section-child1,
.save-section-child2,
.save-section-inner {
  left: 1121px;
  width: 292px;
  height: 193px;
}
.save-section-child1,
.save-section-child2 {
  top: 570px;
  left: 1061px;
  width: 352px;
  height: 278px;
}
.save-section-child2 {
  top: 61px;
  left: 873px;
  width: 540px;
  height: 247px;
}
.collect-your-favorite,
.save-pins-that {
  position: absolute;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-pins-that {
  top: 272px;
  left: 31px;
  font-weight: 600;
  width: 698px;
  height: 267px;
}
.collect-your-favorite {
  top: 405px;
  left: 56px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-merge-one);
  color: var(--color-darkgray);
  width: 628px;
  height: 215px;
}
.save-section {
  position: relative;
  background-color: #26413c;
  width: 1440px;
  height: 931px;
  text-align: center;
  color: #c9e9e0;
}
.items-child2,
.items-child3,
.items-child4 {
  position: absolute;
  top: 305px;
  left: 399px;
  border-radius: var(--br-3xs);
  width: 377px;
  height: 237.84px;
  object-fit: cover;
}
.items-child3,
.items-child4 {
  top: 563px;
  width: 561px;
  height: 370px;
}
.items-child4 {
  top: 891px;
  left: 0;
  width: 377px;
  height: 124px;
}
.items-child5,
.items-child6,
.items-child7,
.items-child8,
.items-child9 {
  position: absolute;
  top: 953px;
  left: 399px;
  border-radius: var(--br-3xs);
  width: 561px;
  height: 416px;
  object-fit: cover;
}
.items-child6,
.items-child7,
.items-child8,
.items-child9 {
  top: 842px;
  left: 982px;
  width: 406px;
  height: 527px;
}
.items-child7,
.items-child8,
.items-child9 {
  top: 377px;
  left: 0;
  width: 377px;
  height: 478.76px;
}
.items-child8,
.items-child9 {
  top: 0;
  left: 399px;
  height: 285px;
}
.items-child9 {
  top: 198px;
  left: 0;
  height: 149px;
}
.items-child10,
.items-child11,
.items-child12,
.items-child13,
.items-child14,
.items-child15 {
  position: absolute;
  top: 1045px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 377px;
  height: 324px;
  object-fit: cover;
}
.items-child11,
.items-child12,
.items-child13,
.items-child14,
.items-child15 {
  top: 0;
  height: 173px;
}
.items-child12,
.items-child13,
.items-child14,
.items-child15 {
  top: 258px;
  left: 808px;
  width: 257px;
  height: 238px;
}
.items-child13,
.items-child14,
.items-child15 {
  left: 1099px;
  width: 289px;
}
.items-child14,
.items-child15 {
  top: 510px;
  left: 982px;
  width: 411px;
  height: 308px;
}
.items-child15 {
  top: 0;
  left: 808px;
  width: 580px;
  height: 238px;
}
.items1 {
  position: absolute;
  top: 19.7px;
  left: 25px;
  width: 1393px;
  height: 1369px;
}
.background-box,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  background-color: rgba(21, 21, 21, 0.8);
  filter: blur(4px);
  width: 1440px;
  height: 1419.81px;
}
.background-box {
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 635px;
  height: 1241.69px;
}
.password-child {
  position: absolute;
  top: 36px;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 463px;
  height: 71px;
}
.password1 {
  position: absolute;
  top: 0;
  left: 8px;
}
.enter-your-password {
  position: absolute;
  top: 61px;
  left: 22px;
  color: var(--color-lightgray);
}
.vector-icon {
  position: absolute;
  top: 63.25px;
  left: 417.59px;
  width: 20.83px;
  height: 17.5px;
}
.frame-child,
.password {
  position: absolute;
  top: 577.21px;
  left: 86px;
  width: 463px;
  height: 107px;
}
.frame-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 71px;
}
.johndoegmailcom {
  position: absolute;
  top: 27px;
  left: 22px;
}
.email,
.frame {
  position: absolute;
  width: 463px;
}
.frame {
  top: 36px;
  left: 0;
  height: 71px;
  overflow: hidden;
  color: var(--color-lightgray);
}
.email {
  top: 432.21px;
  left: 86px;
  height: 107px;
}
.sign-up1 {
  position: relative;
}
.submit-button {
  position: absolute;
  top: 750.21px;
  left: 86px;
  border-radius: var(--br-mini);
  background-color: #d24d4d;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 463px;
  height: 75px;
  display: flex;
  flex-direction: row;
  padding: 24px 75px;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.login1 {
  text-decoration: underline;
}
.already-have-an-container1 {
  line-break: anywhere;
  width: 100%;
}
.already-have-an-container {
  position: absolute;
  top: 840.21px;
  left: 89px;
  font-size: var(--font-size-5xl);
  line-height: 120%;
  font-weight: 300;
  font-family: var(--font-open-sans);
  display: flex;
  align-items: center;
  width: 347px;
  height: 109px;
}
.form-items {
  position: absolute;
  top: 86.49px;
  left: 753px;
  border-radius: var(--br-mini);
  width: 635px;
  height: 1241.69px;
}
.sign-up-now {
  position: absolute;
  top: 390.7px;
  left: 63px;
  font-size: var(--font-size-77xl);
  line-height: 120%;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 583px;
  height: 393px;
}
.signup-section {
  position: relative;
  width: 1440px;
  height: 1419.81px;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.created-by-steve {
  position: absolute;
  top: 22px;
  left: 571px;
  display: inline-block;
  width: 266px;
  height: 37px;
}
.footer {
  position: relative;
  background-color: #303030;
  width: 1440px;
  height: 74px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.landing-page {
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1200px) {
  .nav {
    flex-direction: row;
    padding-left: 34%;
    padding-right: 34%;
    box-sizing: border-box;
  }
  .items-child1,
  .landing-page,
  .nav {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .nav,
  .nav-items {
    align-items: center;
    justify-content: center;
  }
  .nav {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .landing-page {
    width: 1440px;
    height: 4382px;
  }
}
