@import url("https://fonts.googleapis.com/css2?family=Salsa:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merge+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-open-sans: "Open Sans";
  --font-merge-one: "Merge One";
  --font-salsa: Salsa;
  --font-helvetica: Helvetica;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-lightgray: #d0d0d0;
  --color-darkgray: #9caea9;
  --color-lightergray: #f3f3f3;
  --color-firebrick-100: #a71818;
  --color-grayblack: #303030;

  /* border radiuses */
  --b-radius-sm: 8px;
  --b-radius-md: 16px;

  --mobile-margin: 6.5rem 2rem;
  --desktop-margin: 6rem;
}
